body{background:#f9f9f9;}
#wrapper{padding:20px 15px;}
.card{margin-bottom: 15px; border-radius:10px; box-shadow: 0 3px 5px rgba(0,0,0,.1); }
.header-top{box-shadow: 0 3px 5px rgba(0,0,0,.1)}
@media(min-width:992px) {
#wrapper{margin-left: 10px;padding: 10px 15px 15px;}
}