<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" >
<div class="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">

      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-icon-default"></div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand text" href="#">Model Factory  <span class="label label-success text-capitalize">Ankara</span><span class="icone icone-custom pull-right" ></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation">
           <li> <ul class="nav navbar-nav navbar-right">
                    {%  if request.user.is_authenticated %}
                         <form class="logout-link" action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success navbar-btn btn-circle">Logout</button>
                        </form>
                    {% endif %}

            </ul></li>
        </div>
      </div>
    </nav>
    <header class="header">
        <div class="container">
          <div class="row">


          </div>
        </div>
    </header>
    <section class="section">
        <div class="container">
            <div class="row">
                {% block content %}
                                  {% endblock %}

                <div class="col-md-5 col-md-offset-1">
                    <div class="content">
                        <div class="pull-middle">

                            <ul class="media-list">
                              <li class="media">



                              </li>



                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer text-center">
        <div class="container">
            <small>© Copyright 2018 Ali Can Talay <a href="https://www.twitter.com/maridlcrmn">@maridlcrmn</a></small>
        </div>
    </footer>
</div>