
{% load static from staticfiles%}
<link rel="stylesheet" href="{% static 'css/createStyle.css' %}" >

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head></head>

<div class="container-md-6" >

<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-10 col-sm-offset-9 col-md-offset-1">
		<form role="form" method="POST">
            {% csrf_token %}
			<h2>Create Work Order<small>It's free and always will be.</small></h2>
			<hr class="colorgraph">

			<div class="form-group">
				<input type="text"  name="customer_name" id="display_name" class="form-control input-lg" placeholder="Customer Name" tabindex="1">
			</div>
			<div class="form-group">
				<input placeholder="Due Date" class="form-control input-lg" type="text" onfocus="(this.type='date')"  id="date" name="deadline" tabindex="2">
			</div>

			<div class="form-group">

                    <select name="model_type" class="form-control input-lg" id="selectbasic"  placeholder="Email Address" tabindex="3">
                        <option hidden >Select Model Type:</option>
                        <option value="1">SC1</option>
                        <option value="2">SC2</option>
                        <option value="3">SC3</option>
                        <option value="4">SC4</option>
                        <option value="5">SC5</option>
                        <option value="6">SC6</option>
                        <option value="7">SC7</option>
                        <option value="8">SC8</option>
                    </select>

            </div>
			<hr class="colorgraph">
            <hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-6"><input type="submit" value="Create Work" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
			</div>

		</form>
	</div>
</div>

</div>